header {
  overflow: auto;
}
.navbar {
  background-color: $magenta;
}

.main-nav{
    @include inlineList;
    @include minWidth($lg){
      text-align: center;
    }
}

.nav-item{
  padding: 1rem;
}
