//screen sizes

$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$bluegray: #263340;
$meltBlue: #00b2e2;
$slate: #EDF4FF;
$white: #FFFFFF;
$deepblue: #1C75BC;
$limegreen: #79CD3F;
$magenta: #EE2A7B;
$meltPurple: #9E1F63;
$gold: #F6BE25;
$red: #FF3D11;
